{% extends 'Base.html' %} 
{% block title %}Lista de citas{% endblock %} 
{% block content %}
<header class="page-header row">
  <div>
    <h1>Citas registradas</h1>
  </div>

  <a href="{% url 'crear_cita' %}" class="btn primary">Nueva cita</a>
</header>

<section class="content-card">
  <table>
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for cita in citas %}
      <tr>
        <td>{{ cita.paciente.nombre }}</td>
        <td>{{ cita.fecha }}</td>
        <td>{{ cita.hora }}</td>
        <td><span class="badge">{{ cita.get_estado_display }}</span></td>
        <td class="actions">
        <a
            href="{% url 'editar_cita' cita.id %}"
            class="action-btn edit-btn"
        >
            Editar
        </a>

        {% if es_medico %}
        <a
            href="{% url 'crear_historial' cita.id %}"
            class="action-btn history-btn"
        >
            Historial
        </a>
        {% endif %}

        <form
            method="post"
            action="{% url 'eliminar_cita' cita.id %}"
            onsubmit="return confirm('¿Seguro que deseas eliminar esta cita?');"
            class="inline-form"
        >
            {% csrf_token %}

            <button type="submit" class="action-btn delete-btn">
            Eliminar
            </button>
        </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="empty">No hay citas registradas.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
